@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;400;600;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

body {
    background-color: #f4f4f4;
    color: #000;
    line-height: 1.6;
}

.navbar-custom {
    background-color: #4CB050; /* Warna navbar */
}

.navbar-custom .navbar-brand,
.navbar-custom .nav-link {
    color: white;
}

.jumbotron-custom {
    background: url('/Assets/Images/HeroYotsuba.jpg') no-repeat center center; /* Sesuaikan path gambar */
    background-size: cover;
    color: #333;
    padding: 2rem 1rem; /* Ukuran header lebih kecil */
    min-height: 300px; /* Menambahkan tinggi minimum */
    background-color: #4CB050; /* lime green */
}

.btn-primary-custom {
    background-color: #4CB050;
    border: none;
}

.btn-primary-custom:hover {
    background-color: #4CB050;
}

.btn-secondary-custom {
    background-color: #4CB050;
    border: none;
    color: white;
}

.btn-secondary-custom:hover {
    background-color: #3d8f40;
}

.footer-custom {
    background-color: #4CB050; /* lime green */
    color: white;
    padding: 20px;
}

.footer-custom a {
    color: white;
}

.footer-custom a:hover {
    text-decoration: underline;
}
