.warna-yotsuba {
    background-color: #4CB050;

}

/* .jumbotron {
    background: url('../Images/Main-Hero.jpg') no-repeat center center;
    background-size: cover;
    color: white;
}

.jumbotron h1, .jumbotron p {
    color: white;
} */